:host{
  color: black;
}
.text-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.image-section img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
