body :hover {background-color: bisque;font-family: "Playwrite NZ", cursive;
    text-indent: 50px;
line-height: 1.5;
text-shadow: 10px 0px 10px rgb(135, 3, 135);


}

header{text-align: center;}

header>img {width:100%; /*max-width: 800px;min-width: 700px;*/}

nav img{height: 50px;}



footer{text-align: center;}
footer{background-color: grey;padding: 5px;margin: 10px;}


 nav.nav1{background-color: grey; color:white;}
 nav.nav1 a {color: white;}

/*main p*/ 
p {text-align: justify; }



/*
span.texto1{background-color: red}
span.texto2{background-color: blue;}
.texto3 {background-color: green;}

comentario

{background-color: brown;}

h1{
    border-width:  10px ;
    border-style:  double ;
    border-color: rgb(222, 17, 230);
    margin-inline :  95px;
    background-color: rgba(207, 160, 150);
}*/