
:root{
    --corPrimaria: #e51b15;
    --corSegundaria: #fff;
    --corTerciaria: black;
}
body{
font-family: 'Open Sans', sans-serif;

}
header{
    background-color: var(--corPrimaria);
    color: var(--corSegundaria);
}

nav input{
    background-color: var(--corSegundaria) !important;
    color: var(--corTerciaria) !important;
    border-color: var(--corSegundaria) !important;
}
.badge{
    background-color: var(--corPrimaria);
}
.card img{
    max-height: 214px;
}
.card-title{
    min-height: 70px;
}
footer{
    background-color: var(--corPrimaria);
    color: var(--corSegundaria);
}

footer a{
    color: var(--corSegundaria);
    padding: 10px;
    font-size: 40px;
}
footer a:hover{
    opacity: 80%;
}
.btn{
    background-color: var(--corPrimaria);
    color: var(--corSegundaria);
    border: 1px solid var(--corSegundaria);
}
.btn:hover{
    background-color: var(--corSegundaria);
    color: var(--corPrimaria);
    border: 1px solid var(--corPrimaria);
}