<application xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="WrongManifestParent">

    <activity android:name=".ThirdActivity" />
    <activity android:name=".SecondActivity" />
    <activity
        android:name=".MainActivity"
        android:exported="true">
<intent-filter>
    <action android:name="android.intent.action.MAIN" />
    <category android:name="android.intent.category.LAUNCHER" />
</intent-filter>
</activity>
    </application>
